<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Portfolio Site</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontello.css}" />
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="container">
        <header>
            <nav class="logo">
                <div class="logoItem"> <a href="#">Contact</a></div>
                <div class="logoItem"><a href="#">Tools & Progress</a></div>
                <div class="logoItem"><a href="#">From Scratch</a></div>
                <div class="logoItem"><a href="#">About</a></div>
                <div class="logoItem"> <a href="#">Home</a></div>

            </nav>
            <div style="clear: both;"></div>
            <div id="pData"> Bogusław Jabłoński</div>


        </header>

        <main>
            <div id="column1" class="maincolumn">
                <a th:href ="@{/hello}"> <div class="tile2"><i class="icon-user-circle"></i><br /> About (me)</div></a>
                <div class="tile1"><i class="icon-tools"></i><br /> Tools & Progress</div>
                <div style="clear: both;"></div>
                <div id="tileno3" class="tile1"><i class="icon-help-circled"></i><br />From Scratch</div>
                <div id="tileof4" class="tile2">

                    <a href="https://www.linkedin.com/in/boguslaw-jablonski/">
                        <div id="litile" class="tileinside4"><i class="icon-linkedin"></i></div>
                    </a>
                    <a href="https://github.com/jablonskiboguslaw1"><div id="gittile" class="tileinside4"><i class="icon-github-circled-alt2"></i></div>
                     </a><div style="clear: both;"></div>
                    <a href="mailto:jablonski.boguslaw@gmail.com">
                        <div  id="mailtile" class="tileinside4"><i class="icon-mail"></i></div>
                    </a>
                    <a href="" alt= "I have no account... yet"  ></a> <div id="fbtile" class="tileinside4"><i class="icon-facebook"></i></div></a>
                </div>

                <div style="clear: both;"></div>
                <div class="lowtile">
                    <img class="langicon" th:src="@{images/java.svg}" />
                    <img class="langicon" th:src="@{images/mysql.svg}" />
                    <img class="langicon" th:src="@{images/css.svg}" />
                    <img class="langicon" th:src="@{images/html5.svg}" />
                    <img class="langicon" th:src="@{images/js.svg}" />
                </div>
                <div style="clear: both;"></div>
            </div>
            <div id="column2" class="maincolumn">
                <div id="content">
                    tu będzie cały content
                </div>
                <div id="clearmotto" class="lowtile">
                    <i>“Whatever the mind can conceive and believe, it can achieve.”</i>
                    ― Napoleon Hill
                </div>
            </div>
            <div id="column3" class="maincolumn">

                <div style="clear: both;"></div>

            </div>
            <div style="clear: both;"></div>
        </main>
        <div style="clear: both;"></div>


        <footer>&copy; All rights reserved.</footer>
    </div>

</body>

</html>